{% extends "common/page_base.html" %}
{% block content %}

    <div class="row purchace-popup">
      <div class="col-12">
        <span class="d-flex align-items-center">
          <p>Beta version: limited data is processed for demonstration purposes.</p>
                <a href="/funding" class="btn ml-auto purchase-button ">Funding Timeline</a>
          <i class="mdi mdi-close popup-dismiss"></i>
        </span>
      </div>
    </div>

<h1 class="textcapital">{{ keyword }}</h1>
<h3 class="text-muted">Mood Today : {{ average }}%</h3>

<br>

<div class="row">

{% for Title, Description, URL, IMGLink, Score, sqltime in resultslist %}

<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics">
    <div class="card-body">
      <div class="fluid-container">

       <h4 class="font-weight-bold mb-0">{{ Title }}</h4>
        <div class="progress mt-4 mb-4">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
        role="progressbar" style="width:{{ Score }}%" aria-valuemax="100">
        </div>
        </div>
                
        <a href="{{ URL }}" target="_blank">
        <button type="button" class="mb-4 btn btn-light btn-rounded btn-fw btn-block">
        Read Article
        </button>
        </a> 

        <p>{{ Description }}</p>     
 
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>

{% endblock %}
