{% extends "common/page_base.html" %}
{% block content %}
<h3 class="">Funding</h3>
    <div class="row fund">
        <div class="col-xs-6">
			<i class="check-icon mdi mdi-checkbox-marked-outline mr-0"></i>
        </div>
        <div class="col-xs-6 ml-5">
        	Family and Friends
        </div>
    </div>

    <div class="row fund">
	    <div class="col-xs-6">
			<i class="check-icon mdi mdi-checkbox-blank-outline mr-0"></i>
	    </div>
	    <div class="col-xs-6 ml-5">
	    	Angel Investment
	    </div>
    </div>

	<div class="row fund">
        <div class="col-xs-6">
			<i class="check-icon mdi mdi-checkbox-blank-outline mr-0"></i>
        </div>
        <div class="col-xs-6 ml-5">
        	Seed Funding Round
        </div>
	</div>

	<div class="row fund">
        <div class="col-xs-6">
			<i class="check-icon mdi mdi-checkbox-blank-outline mr-0"></i>
        </div>
        <div class="col-xs-6 ml-5">
        	Series A Round
        </div>
	</div>

{% endblock %}







