<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <title>Chrysntm Lab</title>
  <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/vendors/css/vendor.bundle.addons.css">

  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="static/images/" />
</head>

<body>
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/">
          <img src="static/images/logo.svg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/">
          <img src="static/images/logo-mini.svg" alt="logo" />
        </a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center">

        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="mdi mdi-view-dashboard"></i>Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="/analytics" class="nav-link">
              <i class="mdi mdi-elevation-rise"></i>Analytics
              <span class="badge badge-primary ml-1">Coming Soon</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">
              <i class="mdi mdi-account"></i>About</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">
              <i class="mdi mdi-email"></i>Contact</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">

            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-file-document-box"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              
              <a class="dropdown-item mt-2">
                Log in
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                Sign up
              </a>

            </div>
          </li>

          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Account</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Log In
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                Sign Up
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>

      </div>
    </nav>


    <div class="main-container">

    {% block content %}
    {% endblock %}

    {% block post_content %}
    {% endblock %}

    {% block body %}
    {% endblock %} 
    </div>

        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="d-block text-center text-white text-sm-left d-sm-inline-block">Copyright © 2018
              Chrysntm Lab. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>


  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <script src="static/vendors/js/vendor.bundle.addons.js"></script>
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>

</body>

</html>





